* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}
del {
    text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
    display: block;
}
body {
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #333;
    overflow-x: hidden;
    min-width: 320px;
}
input,
textarea,
select {
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}
a {
    color: #333;
}
a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
        url("../fonts/opensans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open_sanssemibold";
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
[data-scroll-container] {
    min-height: 100vh;
    overflow: hidden;
    outline: none;
    position: relative;
}
[data-scroll-section] {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.c-scrollbar {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    transform-origin: center right;
    transform: scaleX(0.5);
    transition: transform 0.2s linear;
}
.c-scrollbar_thumb {
    background-color: #008080;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.page-transition {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-delay: 1.5s;
}
.page-transition * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.page-transition .layers {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #008080;
    transition-delay: 1.5s;
}
.page-transition .layers span {
    width: 100%;
    left: 0;
    background: #1c1e1f;
}
.page-transition .layers span:nth-child(1) {
    height: 25%;
    position: absolute;
    top: 0;
    transition-delay: 0.25s;
}
.page-transition .layers span:nth-child(2) {
    height: 25%;
    position: absolute;
    top: 25%;
    transition-delay: 0.5s;
}
.page-transition .layers span:nth-child(3) {
    height: 25%;
    position: absolute;
    top: 50%;
    transition-delay: 0.75s;
}
.page-transition .layers span:nth-child(4) {
    height: 25%;
    position: absolute;
    top: 75%;
    transition-delay: 1s;
}
.page-transition.slide,
.page-transition.slide .layers span,
.page-transition.slide .layers {
    left: -100%;
}

#spotlight {
    background-color: #1a1a1a;
    padding: 90px 0;
    color: #ffffff;
    display: flex;
    align-items: center;
}

#spotlight .wrapper section.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#spotlight .wrapper section.container div.menu {
    background-color: #1c1e1f;
    width: 8%;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

#spotlight .wrapper section.container div.menu ul {
    width: 100%;
}

#spotlight .wrapper section.container div.menu div.extra {
    padding: 10px;
}
#spotlight .wrapper section.container div.menu ul li {
    position: relative;
}
#spotlight .wrapper section.container div.menu ul li a {
    padding: 14px;
    display: block;
    position: relative;
    background-color: #1c1e1f;
    z-index: 2;
}
#spotlight .wrapper section.container div.menu ul li a:hover {
    background-color: #008080;
}
#spotlight .wrapper section.container div.menu div.extra.up:hover i,
#spotlight .wrapper section.container div.menu div.extra:hover i,
#spotlight .wrapper section.container div.menu ul li a:hover div.icon i {
    color: #ffffff;
    transform: scale(1.1);
    transition: all 1s ease-out;
}
#spotlight .wrapper section.container div.menu div.extra.up {
    background-color: #008080;
}

#spotlight .wrapper section.container div.menu div.extra.up i {
    color: #888888;
}
#spotlight .wrapper section.container div.menu div.extra i {
    font-size: 33px;
    color: #008080;
}

#spotlight .wrapper section.container div.menu ul li div.icon i {
    font-size: 25px;
    color: #888888;
}
#spotlight .wrapper section.container div.menu ul li a:hover + div.name {
    z-index: 3;
    background-color: #008080;
}
#spotlight .wrapper section.container div.menu ul li div.name {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 14px;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    transition: all 1s ease-out;
    width: 100px;
    opacity: 0.7;
}

#spotlight .wrapper section.container div.menu ul li div.name h4 {
    color: #ffffff;
    font-size: 16px;
}

#spotlight .wrapper section.container div.image {
    position: relative;
    background-color: #1c1e1f;
    width: 30%;
    -webkit-box-shadow: 0 32px 84px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 32px 84px 0 rgba(0, 0, 0, 0.5);
    height: 540px;
}

#spotlight .wrapper section.container div.image img {
    width: 100%;
    height: 100%;
}

#spotlight .wrapper section.container div.image div.details {
    position: absolute;
    bottom: 8%;
    text-align: center;
    width: 100%;
}

#spotlight .wrapper section.container div.image div.details h2 {
    font-size: 20px;
    color: #008080;
    font-weight: 600;
    margin-bottom: 20px;
}

a.blue_button.submit {
    padding: 0px;
}
a.blue_button.submit input {
    padding: 5px 15px;
    color: #ffffff;
}
a.blue_button {
    padding: 5px 15px;
    font-size: 13px;
    color: #888888;
    border: 1px solid #008080;
    display: inline-block;
    /* border-radius: 10px; */
    background: linear-gradient(to right, #008080 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    transform: skew(-20deg);
    letter-spacing: 0.1em;
}
a.blue_button:hover {
    background-position: left bottom;
    color: #ffffff;
    transform: scale(1.1) skew(-20deg);
}
a.blue_button.submit:hover {
    transform: scale(1) skew(-20deg);
}
.chat {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.chat .btn_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 150px;
    height: 35px;
    background-color: #e3e7e7;
    border-radius: 50px;
    padding: 0 10px;
    will-change: transform;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #008080;
}

.chat .btn_wrap:hover {
    /* transition-delay: .4s; */
    /* -webkit-transform: scale(1.1);
    transform: scale(1.1) */
}

.chat span {
    position: absolute;
    z-index: 99;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    color: #888888;
    background-color: #1c1e1f;
    padding: 0 10px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.chat .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 50px;
}

.chat .container i:nth-of-type(1) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.chat .container i:nth-of-type(2) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.chat .container i:nth-of-type(3) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.chat .container i:nth-of-type(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.chat .btn_wrap:hover span {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
}

.chat .btn_wrap:hover i {
    opacity: 1;

    font-size: 18px;
}
.chat .btn_wrap a:hover i {
    color: #008080;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#spotlight .wrapper section.container div.description.mobile {
    display: none;
}
#spotlight .wrapper section.container div.description.web {
    display: flex;
}
#spotlight .wrapper section.container div.description {
    background-color: #1c1e1f;
    width: 62%;
    margin: 40px 0;
    padding: 50px 25px 50px 40px;
    display: flex;
    align-items: center;
}

#spotlight .wrapper section.container div.description small {
    color: #ffffff;
}

#spotlight .wrapper section.container div.description h1 {
    color: #008080;
    font-size: 50px;
    margin: 30px 0;
    font-weight: 600;
}

#spotlight .wrapper section.container div.description h2 {
    font-size: 17px;
    color: #888888;
}
#skill {
    padding: 70px 0;
    background-color: #ececee;
}

#skill section.wrapper {
}

#skill section.wrapper section.head {
    text-align: left;
    margin-bottom: 40px;
}

#skill section.wrapper section.head div.title_top {
    justify-content: flex-start;
}
div.title_top {
    display: flex;
    align-items: center;
}
div.title_top small {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #888888;
}

div.title_top span {
    width: 50px;
    height: 1px;
    background-color: #888888;
    display: inline-block;
}

div.title_top h3 {
    margin-left: 15px;
    font-size: 17px;
    color: #008080;
}

div.title_bottom {
    font-size: 20px;
    margin-top: 15px;
}

div.title_bottom h2 {
    font-size: 35px;
    color: #444444;
    font-weight: 600;
}
#skill section.wrapper section.container {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
}
#skill section.wrapper section.container div.card {
    width: 31%;
    display: flex;
    justify-content: center;
    border-radius: 10px 0;
    overflow: hidden;

    padding: 25px 20px;
}

#skill section.wrapper section.container div.card div.logo {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: max-content;
    margin-right: 20px;
    border: 1px solid #008080;
    border-radius: 10px 0;
    padding: 10px;
    transition: all 1s;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
#skill section.wrapper section.container div.card div.logo i {
    color: #008080;
    transition: all 1s;
    font-size: 30px;
}
#skill section.wrapper section.container div.card:hover div.logo i {
}
/* #skill section.wrapper section.container div.card:hover div.logo{
    background-color: #008080;
    border: 1px solid #ffffff;

} */
#skill section.wrapper section.container div.card:hover div.logo div.icons {
    top: -50px;
}
#skill section.wrapper section.container div.card div.logo div.icons {
    transition: all 1s;
    position: relative;
    top: 0;
}
#skill section.wrapper section.container div.card div.logo i.one {
    margin-bottom: 20px;
}
#skill section.wrapper section.container div.card div.logo i.two {
}
#skill section.wrapper section.container div.card div.content {
    align-self: flex-start;
}

#skill section.wrapper section.container div.card div.content h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
}

#skill section.wrapper section.container div.card div.content p {
    font-size: 15px;
}
#github {
    padding: 70px 0;
    background-color: #1b1b1b;
}

#github section.wrapper {
}

#github section.wrapper h4 {
    font-size: 16px;
    color: #888888;
}

#github section.wrapper section.container {
    margin-top: 30px;
}

#github section.wrapper section.container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#github section.wrapper section.container ul li {
    width: 48%;
}
#github section.wrapper section.container ul li:nth-child(2n-1) div.main {
    margin-left: auto;
}
#github section.wrapper section.container ul li:nth-child(2n) div.main {
    margin-right: auto;
}
#github section.wrapper section.container ul li div.main {
    width: 50%;
}
#github
    section.wrapper
    section.container
    ul
    li
    div.main
    div.border
    div.buttonHolder {
}

#github
    section.wrapper
    section.container
    ul
    li
    div.main
    div.border
    div.buttonHolder
    div.vButtonFlipper {
}

#github
    section.wrapper
    section.container
    ul
    li
    div.main:hover
    div.border
    div.buttonHolder
    div.vButtonFlipper
    a.btn {
    -webkit-box-shadow: inset 0px 0px 23px 1px rgba(0, 128, 128, 1);
    -moz-box-shadow: inset 0px 0px 23px 1px rgba(0, 128, 128, 1);
    box-shadow: inset 0px 0px 23px 1px rgba(0, 128, 128, 1);
}

#github
    section.wrapper
    section.container
    ul
    li
    div.main
    div.border
    div.buttonHolder
    div.vButtonFlipper
    a.btn {
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 128, 128, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 128, 128, 1);
    box-shadow: 0px 0px 6px 2px rgba(0, 128, 128, 1);

    text-transform: uppercase;
    font-size: 15px;
}
#github
    section.wrapper
    section.container
    ul
    li
    div.main
    div.border
    div.buttonHolder
    div.vButtonFlipper
    a.btn
    div.image {
    height: 20px;
    width: 20px;
    margin: 0 auto;
}
#github
    section.wrapper
    section.container
    ul
    li
    div.main
    div.border
    div.buttonHolder
    div.vButtonFlipper
    a.btn
    div.image
    img {
    width: 100%;
    height: 100%;
}
/* Vertical Button Flip animation*/
.buttonHolder {
    width: 100%;
    height: 40px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.vButtonFlipper {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
}
.buttonHolder:hover .vButtonFlipper {
    position: absolute;
    width: 100%;
    -webkit-transform: rotateX(-180deg) scale(1.05);
    -moz-transform: rotateX(-180deg) scale(1.05);
    -o-transform: rotateX(-180deg) scale(1.05);
    transform: rotateX(-180deg) scale(1.05);
}
.vButtonFlipper a {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 30px;
}
.vButtonFlipper .button2 {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#clients div.title_top h3 {
    color: #888888;
}
#clients {
    padding: 30px 0;
    background-color: #ececee;
}
#clients section.head {
    margin-bottom: 10px;
}
#clients .client {
    text-align: center;
    width: 100px;
    overflow: hidden;
}
#clients .client img {
    width: 100%;
}

#about {
    padding: 70px 0;
    background-color: #1d1d1b;
}

#about section.wrapper {
}

#about section.wrapper section.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about section.wrapper section.container div.left {
    display: flex;
    align-items: center;
    width: 47%;
}

#about section.wrapper section.container div.left h4 {
    font-size: 16px;
    color: #888888;
}

#about section.wrapper section.container div.left h1 {
    font-size: 55px;
    color: #b4b4b4;
    margin: 40px 0;
}

#about section.wrapper section.container div.left p {
    font-size: 16px;
    color: #888888;
    margin-bottom: 20px;
}
#about section.wrapper section.container div.left div.button {
    text-align: right;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
#about section.wrapper section.container div.left div.button form {
    display: flex;
    justify-content: flex-end;
    transition: all 1s;
}

#about section.wrapper section.container div.left div.button form input[type="email"].value,
#about
    section.wrapper
    section.container
    div.left
    div.button
    form
    input[type="email"]:focus,
#about
    section.wrapper
    section.container
    div.left
    div.button
    form:hover
    input[type="email"] {
    width: 80%;
    padding: 5px 15px;
}
#about section.wrapper section.container div.left div.button form {
    width: 80%;
}
#about
    section.wrapper
    section.container
    div.left
    div.button
    form
    input[type="email"] {
    border: 1px solid #008080;
    border-right: none;
    transform: skew(-20deg);
    width: 0px;
    color: #ffffff;
    transition: all 1s;
    letter-spacing: 0.2em;
}
#about section.wrapper section.container div.right {
    width: 45%;
}
#about section.wrapper section.container div.right div.image {
    transform: scale(1);
}
#about section.wrapper section.container div.right div.image {
    width: 45%;
    height: 100%;
    background-image: url("../images/about_img.jpg");
    background-size: 105%;
    transition: all 2s;
    background-repeat: no-repeat;
}

footer::before {
    content: "";
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 1px solid #e3e7e7;
}
footer {
    background-color: #1b1b1b;
    padding-bottom: 30px;
    text-align: center;
}
footer p {
    font-size: 15px;
    color: #e3e7e7;
}
@media all and (max-width: 1280px) {
    #spotlight .wrapper section.container div.menu {
        width: 10%;
    }
    #spotlight .wrapper section.container div.image {
        width: 35%;
    }
    #spotlight .wrapper section.container div.description {
        width: 50%;
    }
    #about section.wrapper section.container div.left h1,
    #spotlight .wrapper section.container div.description h1 {
        font-size: 45px;
    }
}

@media all and (max-width: 980px) {
    #spotlight .wrapper section.container div.description h2 {
        font-size: 15px;
    }
    #spotlight {
        padding: 75px 0;
    }
    #skill section.wrapper section.container div.card {
        width: 31.5%;

        padding: 25px 10px;
    }
    #about section.wrapper section.container div.right div.image {
        width: 100%;
    }
}

@media all and (max-width: 880px) {
    #skill,
    #about,
    #spotlight {
        padding: 60px 0;
    }
    #skill section.wrapper section.container div.card {
        width: 48%;

        padding: 25px 30px;
    }
    #about section.wrapper section.container div.left h1 {
        font-size: 32px;
    }
    #github section.wrapper section.container ul li div.main {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    #spotlight {
        height: auto;
    }
    #spotlight .wrapper section.container div.menu {
        width: 15%;
    }
    #spotlight .wrapper section.container div.image {
        width: 85%;
        height: 400px;
    }
    #spotlight .wrapper section.container div.description {
        width: 100%;
        margin: 0 0 40px 0;
        display: flex;
        align-items: center;
    }
    #spotlight .wrapper section.container div.description.mobile {
        display: flex;
    }
    #spotlight .wrapper section.container div.description.web {
        display: none;
    }
    #skill section.wrapper section.container div.card {
        width: 48%;

        padding: 25px 30px;
    }
    #about section.wrapper section.container div.left {
        width: 75%;
    }
    #about section.wrapper section.container div.right {
        width: 25%;
    }
    #about:hover section.wrapper section.container div.right div.image {
        transform: scale(1.2);
    }
}

@media all and (max-width: 640px) {
    #skill,
    #about {
        padding: 50px 0;
    }
    #spotlight .wrapper section.container div.description {
        padding: 70px 15px 70px 20px;
    }
    #spotlight .wrapper section.container div.description h1 {
        margin: 20px 0;
    }
    #skill section.wrapper section.container div.card {
        padding: 25px 20px;
    }
    div.title_bottom h2 {
        font-size: 22px;
    }
    #skill section.wrapper section.head {
        margin-bottom: 25px;
    }
    #about section.wrapper section.container div.left h1 {
        font-size: 20px;
    }
    #about section.wrapper section.container div.left h4,
    #about section.wrapper section.container div.left p {
        font-size: 14px;
    }
    #about section.wrapper section.container div.left h1 {
        margin: 20px 0;
    }
    #about
        section.wrapper
        section.container
        div.left
        div.button
        form:hover
        input[type="email"] {
        width: 100%;
        padding: 5px 10px;
    }
    #about section.wrapper section.container div.left div.button form {
        width: 100%;
    }
}

@media all and (max-width: 560px) {
    #skill,
    #about {
        padding: 40px 0;
    }
    #spotlight .wrapper section.container div.description h1 {
        font-size: 35px;
    }
    #spotlight .wrapper section.container div.menu div.extra i {
        font-size: 20px;
    }
    #spotlight .wrapper section.container div.menu ul li div.icon i {
        font-size: 20px;
    }
    #spotlight .wrapper section.container div.menu ul li a,
    #spotlight .wrapper section.container div.menu div.extra {
        padding: 15px 5px;
    }
    #spotlight {
        padding: 40px 0;
    }
    #spotlight .wrapper section.container div.image div.details h2 {
        font-size: 17px;
    }
    #spotlight .wrapper section.container div.menu ul li div.name h4 {
        font-size: 15px;
    }
    #skill section.wrapper section.container div.card {
        width: 100%;
        padding: 0 20px;
    }
    #skill section.wrapper section.container div.card:nth-child(2n) {
        border-bottom: 1px solid #999999;
        border-top: 1px solid #999999;
        padding: 15px 20px;
        border-radius: 0px;
    }
    #about section.wrapper section.container div.left h4,
    #about section.wrapper section.container div.left p {
        font-size: 12px;
    }
    #github section.wrapper section.container ul li {
        width: 100%;
    }
    p,
    a {
        font-size: 13px !important;
    }
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 360px) {
}

@media all and (max-width: 320px) {
}
